<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Confronto CSV</title>
</head>
<body>
    <div> <!--LOGO-->
        <img src="{{ url_for('static', filename='images/logo_sirio.png') }}">
    </div>

    <br>

    <div id="master"> <!--FILE-->

        <form action="/upload" id="myForm" method="post" enctype="multipart/form-data">
            <table>
                <tr >
                    <th></th><th></th><th><label class="file1">Controller tags</label></th>
                </tr>
                <tr>
                    <th><label>Inserie il primo file CSV:</label></th>
                    <th><input type="file" name="file1" accept=".csv" required></th>
                    <th class="file1"><input type="checkbox" name="CT1" value='CT1' onclick="checkboxUP()"></th>
                </tr>
                <tr id="file2">
                    <th><label>Inserie il secondo file CSV:</label></th>
                    <th><input type="file" name="file2" accept=".csv"></th>
                    <th><input type="checkbox" name="CT2" value='CT2' onclick="checkboxDOWN()"></th>
                </tr>
            </table>

            <br>

            <div id="sinistra"><!--RADIOBUTTON-->
                <div id="orizzontale">

                    <div>
                        <div><!--VerificaSegnali-->
                            <input type="radio" name="opzione" value="opzione1" onclick="mostraTextbox1()">
                            <label for="uno">Verifica segnali mancanti</label><br>
                        </div>
                        <div><!--GetSegnali-->
                            <input type="radio" name="opzione" value="opzione2" onclick="mostraTextbox2()">
                            <label for="due">Restituisci Segnali</label><br>
                        </div>
                        <div><!--Da_aggiungere-->
                            <input type="radio" name="opzione" value="opzione3" onclick="mostraTextbox3()">
                            <label for="tre">Restituisci Descrizioni</label>
                        </div>
                    </div>

                    <div>
                        <div id="textbox1" class="text-box">
                            <div id="orizzontale">
                                <div>
                                    <input type="radio" name="scelta" value="scelta1">
                                    <label>Primo</label><br>
                                    <input type="radio" name="scelta" value="scelta2">
                                    <label>Secondo</label><br>
                                </div>
                                <div id="verticale">
                                    <div class="colonnaUP">
                                        <label>Numero colonna segnali File1</label>
                                        <input type="number" min="0" value="0" name="colonna1_numero_scelta1" class="input">
                                    </div>
                                    <div>
                                        <div class="tipologiaUP">
                                            <label>Inserire la tipologia:</label>
                                            <input type="text" id="tipologia" name="valore1_scelta1" placeholder="file1">
                                        </div>
                                    </div>
                                    <div id="colonnaDOWN">
                                        <label>Numero colonna segnali File2</label>
                                        <input type="number" min="0" value="0" name="colonna2_numero_scelta1" class="input">
                                    </div>
                                    <div>
                                        <div id="tipologiaDOWN">
                                            <label>Inserire la tipologia:</label>
                                            <input type="text" id="tipologia" name="valore2_scelta1" placeholder="file2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div id="textbox2" class="text-box">
                            <div class="verticale">
                                <div class="tipologiaUP">
                                    <label>Inserire la tipologia:</label>
                                    <input type="text" id="tipologia" name="valore_scelta2" placeholder="Type">
                                </div>
                                <div class="colonnaUP">
                                    <label>Numero colonna segnali</label>
                                    <input type="number" min="0" value="0" name="colonna_numero_scelta2" class="input">
                                </div>
                            </div>
                        </div>
                        
                        <div id="textbox3" class="text-box">
                            <div class="verticale">
                                <div>
                                    <label>Numero colonna descrizione</label>
                                    <input type="number" min="0" value="0" name="descrizione_scelta3" class="input">
                                </div>
                                <div>
                                    <label>Vuoi anche i segnali? </label>
                                    <input type="checkbox" name="ifsegnali" onclick="openSegnale()">
                                </div>
                                <div id="colonnaDOWNscelta3">
                                    <label>Numero colonna segnali </label>
                                    <input type="number" min="0" value="0" name="colonna_numero_scelta3" class="input">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

            <br>

            <div id="orizzontale">
                <div>
                    <input id="bottoni" type="submit" value="Invio">
                </div>
                <div>
                    <input id="bottoni" type="reset" value="Reset" onclick="refresh()">
                </div>
            </div>

        </form>
    </div>
    <div id="manuale">
        <div id="verticale">
            <h2>Manuale d'uso</h2>
        </div>
        <label>
            <ul>
                <li>Selezionare due file .csv:
                    <ul>
                        <li>Se stai utilizzando Logix Designer, è necessario specificare se si tratta di un Controller Tags.</li>
                    </ul>
                </li><br>
                <li>Selezionare la funzione:
                    <ul>
                        <li> 
                            Per il confronto di due file: Selezionare la priorità, ovvero determinare quale documento sarà considerato principale. 
                            La ricerca verrà eseguita nel file principale utilizzando i dati provenienti dal secondo file. Successivamente, selezionare la colonna contenente i dati da confrontare.
                        </li><br>
                        <li>Per ottenere solamente i dati dal primo file: È sufficiente selezionare la colonna nel file contenente i dati desiderati.</li><br>
                        <li>Per ottenere le descrizioni dei segnali: Selezionare la colonna contenente le descrizioni. Se desideri visualizzare anche il segnale corrispondente, 
                            selezionare la casella apposita e indicare la colonna in cui appaiono i segnali.
                        </li><br>
                        <li>Nota Importante: Se la casella Controller Tags è selezionata, la colonna di default sarà impostata automaticamente sulla prima. 
                            In tal caso, sarà necessario selezionare il tipo di dato desiderato.
                            Si ricorda che le colonne vengono numerate a partire da 0 (e non da 1). Inoltre, il carattere "_" non è accettato nell'input.
                        </li>
                    </ul><br>
                </li>
                <li>Elaborazione dei Dati:
                    <ul>
                        <li>Una volta effettuate tutte le selezioni, premere Invio per elaborare i dati e visualizzare l'output.
                            Se desideri ripartire da capo con l'inserimento dei dati, puoi premere Reset.</li>
                    </ul>
                    <ul>
                        <li>Reset dei Dati: Quando si ritorna alla schermata principale dall'output, i dati verranno automaticamente resettati.</li>
                    </ul>
                </li>
        </label>
    </div>
    <script src="{{ url_for('static', filename='js/moovment.js') }}"></script>
</body>
</html>